<div class="col-lg-3">
    <h2>Menu</h2>
    <ul class="list-group">
        <li class="list-group-item"><strong>Products</strong></li>
        {{#ifCond session.isAdmin '===' true}}
        <li class="list-group-item"><i class="far fa-plus-square" aria-hidden="true"></i> &nbsp; <a href="/admin/product/new">New</a></li>
        {{/ifCond}}
        <li class="list-group-item"><i class="far fa-list-alt" aria-hidden="true"></i> &nbsp; <a href="/admin/products">List</a></li>
        <li class="list-group-item"><strong>Orders</strong></li>
        <li class="list-group-item"><i class="fas fa-cube" aria-hidden="true"></i> &nbsp; <a href="/admin/orders">List</a></li>
        <li class="list-group-item"><strong>Customers</strong></li>
        <li class="list-group-item"><i class="fas fa-users" aria-hidden="true"></i> &nbsp; <a href="/admin/customers">List</a></li>
        <li class="list-group-item"><strong>Users</strong></li>
        {{#ifCond session.isAdmin '===' true}}
        <li class="list-group-item"><i class="fas fa-user-plus" aria-hidden="true"></i> &nbsp; <a href="/admin/user/new">New</a></li>
        <li class="list-group-item"><i class="fas fa-user-times" aria-hidden="true"></i> &nbsp; <a href="/admin/users">Edit</a></li>
        {{/ifCond}}
        <li class="list-group-item"><i class="fas fa-user-circle" aria-hidden="true"></i> &nbsp; <a href="/admin/user/edit/{{session.userId}}">My Account</a></li>
        <li class="list-group-item"><strong>Settings</strong></li>
        <li class="list-group-item"><i class="fas fa-cog" aria-hidden="true"></i> &nbsp; <a href="/admin/settings">General settings</a></li>
        <li class="list-group-item"><i class="fas fa-bars" aria-hidden="true"></i> &nbsp; <a href="/admin/settings/menu">Menu</a></li>
        <li class="list-group-item"><i class="fas fa-file" aria-hidden="true"></i> &nbsp; <a href="/admin/settings/pages">Static pages</a></li>
    </ul>
</div>